.Pokedex-cards {
  display: flex;
  flex-wrap: wrap;
}

.Pokedex {
  margin-top: 2rem;
  text-align: center;
}

.Pokedex-win > h2 {
  color: green;
}

.Pokedex-lose > h2 {
  color: red;
}

.Pokedex-win h3,
.Pokedex-lose h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1.8;
}
